name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        java: [ 8, 11, 17 ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2

      - uses: actions/setup-java@v4.7.1
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}

      - uses: gradle/actions/setup-gradle@v4.4.0

      - run: ./gradlew build --warning-mode all
